<!DOCTYPE html>
<html>
  <head>
    <title>RecipeManagementApplication</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "Recipe Application", root_path %>
    </div>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
  <% Category.all.each do |category| %>
        <li>
            <%= link_to category.name, recipes_path(category: category.name) %>
        </li>
       <% end %>
        <li>
          <%= link_to "New Recipe", new_recipe_path %>
        </li>
        <li>
          <%= link_to "Add Category",new_category_path %>
        </li>
        <li>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
      <%= form_for "", url:recipes_path, role:"search",method: :get do %>
        <%= text_field_tag :search, @search_term, placeholder: "Search....",html: {class: "form-control mr-sm-2"} %>
        <% end %>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
  <% Category.all.each do |category| %>
        <li>
            <%= link_to category.name, recipes_path(category: category.name) %>
        </li>
       <% end %>
        <li>
          <%= link_to "Sign Up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Sign In", new_user_session_path %>
        </li>
      </ul>
  <%= form_for "", url:recipes_path, role:"search",method: :get do %>
        <%= text_field_tag :search, @search_term, placeholder: "Search....",html: {class: "form-control mr-sm-2"} %>
        <% end %>
    <% end %>
  </div>
</nav>

  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert" %>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
